.mb-5
  %svg{:fill => "none", :height => "40", :viewbox => "0 0 109 40", :width => "109", :xmlns => "http://www.w3.org/2000/svg"}
    %path{:d => "M19.3902 24.3937V31.6987H0.269371V31.1264C1.71668 31.1264 2.65872 29.6457 2.65872 27.3567V11.5688C2.65872 9.51579 1.4473 8.57223 0 8.57223V8H10.6699V8.57223C9.22257 8.57223 7.53938 9.14445 7.53938 11.5688V31.1264H8.75079C8.75079 31.1264 17.6705 31.1264 18.815 24.3937H19.3902Z", :fill => "#0C2340"}
    %path{:d => "M37.7333 23.6186H27.0284C27.2978 26.918 28.981 28.6347 31.2364 29.14C33.0536 29.5433 35.7473 28.8706 36.5889 27.2878L37.1611 27.5907C36.6223 29.3408 34.6363 31.9996 30.1255 31.9996C25.7151 31.9996 22.6865 27.927 22.6865 23.9884C22.6865 19.2417 25.9175 15.8418 30.5638 15.8418C35.4444 15.8433 37.7333 18.3681 37.7333 23.6186ZM33.6258 23.0464C33.6258 18.8049 32.2454 16.4155 30.3948 16.4155C28.4088 16.4155 27.0284 19.8154 27.0284 23.0464H33.6258Z", :fill => "#0C2340"}
    %path{:d => "M55.6737 16.1461V16.7183C54.8991 16.7183 53.4518 16.7518 51.2983 21.9353L47.2928 31.9994H46.754C40.7959 19.0726 40.493 18.5004 40.493 18.5004C39.6849 16.7168 38.8098 16.7168 38.2041 16.7168V16.1445H46.1483V16.7168C44.2627 16.7168 45.5091 19.2416 45.5091 19.2416L48.842 26.3776L50.6941 21.7998C50.6941 21.7998 52.7806 16.7168 49.1114 16.7168V16.1445H55.6737V16.1461Z", :fill => "#0C2340"}
    %path{:d => "M63.8852 31.1265V31.6987H56.985V31.1265C58.2634 30.7232 58.3319 29.3094 58.3319 27.5927V20.1203C58.3319 18.9758 57.9956 18.504 56.6152 17.7644V17.1922L62.5064 15.8453V27.5927C62.5049 29.4768 62.6738 30.7886 63.8852 31.1265ZM60.0805 13.1501C58.8022 13.1501 57.7916 12.1411 57.7916 10.8612C57.7916 9.58127 58.8022 8.57227 60.0805 8.57227C61.3604 8.57227 62.4029 9.58127 62.4029 10.8612C62.4045 12.1411 61.3604 13.1501 60.0805 13.1501Z", :fill => "#0C2340"}
    %path{:d => "M76.2388 28.4324L76.7441 28.7352C76.0714 30.318 74.0169 31.9997 71.7614 31.9997C69.1027 31.9997 67.52 30.9222 67.52 26.8496V16.717H65.8368L65.7363 16.1447H67.52V11.6339L71.728 10.9277V16.1447H75.7335L75.5996 16.717H71.7279V26.7476C71.7279 28.6333 72.5361 29.6088 74.2193 29.6088C75.1948 29.6103 75.9359 28.9376 76.2388 28.4324Z", :fill => "#0C2340"}
    %path{:d => "M107.44 30.1824C107.44 30.1824 106.16 31.9995 102.726 31.9995C98.6538 31.9995 96.6343 30.4518 96.6343 30.4518V26.2103H97.2065C97.7118 27.5237 98.7892 31.4273 102.728 31.4273C105.117 31.4273 105.522 28.3973 102.964 26.7141L99.5639 24.6611C96.2995 22.675 95.4228 19.9478 97.275 17.525C97.275 17.525 98.5534 15.8418 101.92 15.8418C105.791 15.8418 107.475 16.8523 107.475 16.8523V20.622H106.902C106.464 19.4441 105.388 16.414 101.921 16.414C99.7328 16.414 98.7908 19.0058 101.719 20.8579L105.119 22.9779C108.112 24.83 109.123 27.7596 107.44 30.1824Z", :fill => "#0C2340"}
    %path{:d => "M93.9428 31.5943H77.6191V19.5775L86.7702 11.6973L95.2333 18.9855L92.6507 21.9867L86.7702 16.9234L81.5791 21.3931V27.6344H93.9428V31.5943Z", :fill => "#4682B4"}
.mb-5
  %h2.text-3xl.font-medium.mb-4.text-gray-700.leading-10.font-serif.font-noto-serif-jp 
    = t('.create_an_account')
  %p.font-helvetica-neue.font-normal.text-gray-500.leading-6
    = t('.select_profile')
= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .flex.w-full.mb-5.space-x-0
    = link_to new_broker_registration_path, class: "btn-group rounded-l-lg border-r-0 #{'active' if resource.role == 'broker'}" do
      = t('.broker')
    = link_to new_lender_registration_path, class: "btn-group rounded-r-lg border-l-0 #{'active' if resource.role == 'lender'}" do
      = t('.lender')
  = f.hidden_field :role
  - if resource.role == 'lender' || resource.role == 'broker'
    .mb-4
      %label.font-bold.text-sm.font-helvetica-neue.font-semibold{:class => "text-[14px] leading-[20px]", :for => "email"}
        = t('.email')
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "input-text"
    .mb-4
      %label.font-bold.text-sm.font-helvetica-neue.font-semibold{:class => "text-[14px] leading-[20px]", :for => "password"}
        = t('.password')
      = f.password_field :password, class: "input-text"
    .mb-4
      %label.font-bold.text-sm.font-helvetica-neue.font-semibold{:class => "text-[14px] leading-[20px]", :for => "password"}
        = t('.password_confirmation')
      = f.password_field :password_confirmation, class: "input-text"
    / Add more form fields here as needed
    .mt-6
      %button.px-4.py-2.text-white.rounded-md.focus:outline-none.12px.8px.bg-blue-600.w-full.flex.justify-center{:class => "h-[40px] rounded-[8px] p-[8px 12px] gap-[8px]", :type => "submit"}
        = t('.continue')
        %svg{:fill => "none", :height => "24", :viewbox => "0 0 25 24", :width => "25", :xmlns => "http://www.w3.org/2000/svg"}
          %path{"clip-rule" => "evenodd", :d => "M9.79279 16.7064C9.60532 16.5189 9.5 16.2646 9.5 15.9994C9.5 15.7343 9.60532 15.48 9.79279 15.2924L13.0858 11.9994L9.79279 8.70643C9.61063 8.51783 9.50983 8.26523 9.51211 8.00303C9.51439 7.74083 9.61956 7.49002 9.80497 7.30461C9.99038 7.1192 10.2412 7.01403 10.5034 7.01176C10.7656 7.00948 11.0182 7.11027 11.2068 7.29243L15.2068 11.2924C15.3943 11.48 15.4996 11.7343 15.4996 11.9994C15.4996 12.2646 15.3943 12.5189 15.2068 12.7064L11.2068 16.7064C11.0193 16.8939 10.765 16.9992 10.4998 16.9992C10.2346 16.9992 9.98031 16.8939 9.79279 16.7064Z", :fill => "white", "fill-rule" => "evenodd"}
  .flex.items-center.mt-8.mb-8
    .flex-grow.bg-gray-200.h-px
    .px-2.text-gray-500
      = t('.already_have_an_account')
    .flex-grow.bg-gray-200.h-px
.mt-6
  = link_to new_user_session_path, class: "inline-block px-4 py-2 text-base rounded-lg w-full flex justify-center border border-[#E4E4E7] hover:cursor-pointer" do
    = t('.sign_in')
