= turbo_frame_tag :modal do
  .relative.z-40{ "aria-labelledby": "modal-title", "role": "dialog", "aria-modal": "true"}
    .fixed.inset-0.bg-gray-500.bg-opacity-75
    .fixed.inset-0.z-10.p-6.md:p-10.overflow-y-auto
      .flex.min-h-full.items-center.justify-center.max-w-lg.mx-auto
        = form_with model: @deal, url: reject_reason_deal_path(@deal), method: :post, class: "levitas-modal", data: {controller: "modal"} do |f|
          .header
            %span.title= t('.reject_deal')
            = button_tag type: :button, class: "min-w-[1.5rem] min-h-[1.5rem]" do
              = image_tag "icons/x.svg", {"data-action": "click->modal#close"}
          .body
            %p Are you sure you want to reject this deal?
            %p Please share your specific concerns, suggestions, or any additional information that can guide us in providing an improved offer. We value your input and are committed to delivering a satisfactory solution.
            .flex.flex-col{"class": "gap-1.5"}
              = f.label :rejected_description, t('.enter_reject_details'), class: "font-bold"
              = f.text_area :rejected_description, rows: 7, class: "terms-form-input"
          .footer
            %span{"data-action": "click->modal#close"}
              = levitas_button :button, t('.cancel'), nil, nil, :large
            = levitas_button :submit, t('.reject_deal'), "critical", nil, :large
i
