%div
  %h1.deal-creator-step-title
    = t('.title')
  %p.deal-creator-step-description
    = t('.leading')
  = render 'devise/shared/error_messages', resource: @credit_check

  .outer-container.border.rounded-md.p-4.mb-4
    .content.p-2.overflow-y-auto.rounded-lg.p-4{class: "min-h-[400px] max-h-[400px]"}
      = t('.terms_of_service').html_safe

  = form_for @credit_check, url: deal_credit_check_index_path(@deal), method: :post, data: { turbo: false } do |f|
    %section.inline-block.mb-8
      .levitas-checkbox
        = f.check_box :accept_terms
        = f.label :accept_terms, t('.accept_terms')

    = render partial: 'deals/partials/action_bar', locals: { f: f, back_action_path: deal_broker_fee_index_path, show_save_action: true, skip_action_path: nil, submit: false}
