.flex.flex-col.flex-auto.gap-4.p-3.rounded-lg.border.border-gray-200.bg-white
  .flex.items-center.justify-between.gap-1
    %p.font-serif.font-bold.text-xl.text-gray-700= t('.stage')
    = link_to t('.view_all'), view_invited_lenders_modal_deal_path(@deal), class: "font-bold text-blue-600", data: { "turbo-frame": "modal" }
  .flex.mb-5
    .flex.items-center.gap-3
      .flex.w-8.h-8.rounded-full.items-center.justify-center.bg-blue-600{class: "p-1.5"}
        = image_tag("icons/cash.svg")
      %span.font-medium.text-blue-600= t('.funding')
  .flex.flex-col.gap-3.mb-5
    %span.font-serif.font-bold.text-xl.text-gray-700= t('.capital_commited')
    .grid.grid-cols-2.gap-x-3.gap-y-2.text-gray-600
      .flex.flex-col.items-start.p-2.rounded.bg-gray-50
        %span.text-sm.opacity-70= t('.target')
        %p.font-bold
          = number_to_currency_without_cents(@deal.target)
      .flex.flex-col.items-start.p-2.rounded.bg-gray-50
        %span.text-sm.opacity-70= t('.commited')
        %p.font-bold
          = number_to_currency_without_cents(@deal.commited_capital)
      .flex.flex-col.gap-1.col-span-full
        .flex.justify-between
          %span.text-gray-500.text-xs= t('.progress')
          %span.text-gray-500.text-xs= number_to_percentage(@deal.funding_progress, precision: 0)
        %progress.deal-progress-bar{ value: @deal.funding_progress, max: 100, class: "#{'completed' if @deal.funding_completed?}"}
      - unless @deal.lenders.size.zero?
        .flex.col-span-full
          %p.text-blue-500.font-medium= "#{@deal.lenders.size} " + t('.investors_commited')
    - unless @deal.funding_completed?
      - if @deal.lenders.size.zero?
        %p.text-sm.text-gray-500= t('.funding_msg')
      = link_to invite_lenders_modal_deal_path, class: "levitas-button primary large", data: { "turbo-frame": "modal" } do
        = image_tag 'icons/mail.svg'
        %span= t('.invite_lenders')
    - if @deal.funding_completed?
      .flex.items-center.justify-center.py-4.px-6.rounded-lg.bg-emerald-50
        %p.font-bold.text-sm.text-emerald-500= t('.funding_is_completed')
