- if user_signed_in?
  .flex
  .flex.flex-col.gap-y-12{"data-controller" => "deals", "data-deals-selected-class" => "bg-gray-200", "data-deals-default-class" => "bg-white"}
    .flex.justify-between
      .flex.divide-x.divide-gray-200
        %h1.text-2xl.text-gray-700.font-serif.font-bold.leading-9.pr-4
          = t('.marketplace')
        %span.text-2xl.text-gray-700.font-serif.font-bold.leading-9.pl-4= t('.deal_type', visibility: @visibility);
      .flex.items-start.gap-3.md:gap-6.font-sans.text-gray-600
        .flex.items-center.lg:divide-x.divide-gray-200
          .flex.gap-2.pr-2.max-lg:hidden
            .flex.flex-col.p-2.content-center.justify-center.rounded-md.hover:cursor-pointer{"data-action" => "click->deals#switchView", "data-deals-target" => "cardViewMenu", class: "#{(@deals_view.present? && @deals_view.eql?('card')) ? 'bg-gray-200' : 'bg-white'}"}
              %svg{xmlns: "http://www.w3.org/2000/svg", width: "16", height: "16", viewBox: "0 0 16 16", fill:"none", id: "card-view"}
                %path{d: "M4.00039 2.40039C3.57604 2.40039 3.16908 2.56896 2.86902 2.86902C2.56896 3.16908 2.40039 3.57604 2.40039 4.00039V5.60039C2.40039 6.02474 2.56896 6.4317 2.86902 6.73176C3.16908 7.03182 3.57604 7.20039 4.00039 7.20039H5.60039C6.02474 7.20039 6.4317 7.03182 6.73176 6.73176C7.03182 6.4317 7.20039 6.02474 7.20039 5.60039V4.00039C7.20039 3.57604 7.03182 3.16908 6.73176 2.86902C6.4317 2.56896 6.02474 2.40039 5.60039 2.40039H4.00039ZM4.00039 8.80039C3.57604 8.80039 3.16908 8.96896 2.86902 9.26902C2.56896 9.56908 2.40039 9.97605 2.40039 10.4004V12.0004C2.40039 12.4247 2.56896 12.8317 2.86902 13.1318C3.16908 13.4318 3.57604 13.6004 4.00039 13.6004H5.60039C6.02474 13.6004 6.4317 13.4318 6.73176 13.1318C7.03182 12.8317 7.20039 12.4247 7.20039 12.0004V10.4004C7.20039 9.97605 7.03182 9.56908 6.73176 9.26902C6.4317 8.96896 6.02474 8.80039 5.60039 8.80039H4.00039ZM8.80039 4.00039C8.80039 3.57604 8.96896 3.16908 9.26902 2.86902C9.56908 2.56896 9.97605 2.40039 10.4004 2.40039H12.0004C12.4247 2.40039 12.8317 2.56896 13.1318 2.86902C13.4318 3.16908 13.6004 3.57604 13.6004 4.00039V5.60039C13.6004 6.02474 13.4318 6.4317 13.1318 6.73176C12.8317 7.03182 12.4247 7.20039 12.0004 7.20039H10.4004C9.97605 7.20039 9.56908 7.03182 9.26902 6.73176C8.96896 6.4317 8.80039 6.02474 8.80039 5.60039V4.00039ZM8.80039 10.4004C8.80039 9.97605 8.96896 9.56908 9.26902 9.26902C9.56908 8.96896 9.97605 8.80039 10.4004 8.80039H12.0004C12.4247 8.80039 12.8317 8.96896 13.1318 9.26902C13.4318 9.56908 13.6004 9.97605 13.6004 10.4004V12.0004C13.6004 12.4247 13.4318 12.8317 13.1318 13.1318C12.8317 13.4318 12.4247 13.6004 12.0004 13.6004H10.4004C9.97605 13.6004 9.56908 13.4318 9.26902 13.1318C8.96896 12.8317 8.80039 12.4247 8.80039 12.0004V10.4004Z", fill: "#52525B" }
            .flex.flex-col.p-2.content-center.justify-center.rounded-md.hover:cursor-pointer{"data-action" => "click->deals#switchView", "data-deals-target" => "tableViewMenu", class: "#{(@deals_view.present? && @deals_view.eql?('table')) ? 'bg-gray-200' : 'bg-white'}"}
              %svg{xmlns: "http://www.w3.org/2000/svg", width: "16", height: "16", viewBox: "0 0 16 16", fill:"none", id: "table-view"}
                %path{"fill-rule" => "evenodd", "clip-rule" => "evenodd", d: "M2.40039 3.20039C2.40039 2.98822 2.48468 2.78473 2.63471 2.63471C2.78473 2.48468 2.98822 2.40039 3.20039 2.40039H12.8004C13.0126 2.40039 13.216 2.48468 13.3661 2.63471C13.5161 2.78473 13.6004 2.98822 13.6004 3.20039C13.6004 3.41256 13.5161 3.61605 13.3661 3.76608C13.216 3.91611 13.0126 4.00039 12.8004 4.00039H3.20039C2.98822 4.00039 2.78473 3.91611 2.63471 3.76608C2.48468 3.61605 2.40039 3.41256 2.40039 3.20039ZM2.40039 6.40039C2.40039 6.18822 2.48468 5.98473 2.63471 5.83471C2.78473 5.68468 2.98822 5.60039 3.20039 5.60039H12.8004C13.0126 5.60039 13.216 5.68468 13.3661 5.83471C13.5161 5.98473 13.6004 6.18822 13.6004 6.40039C13.6004 6.61256 13.5161 6.81605 13.3661 6.96608C13.216 7.11611 13.0126 7.20039 12.8004 7.20039H3.20039C2.98822 7.20039 2.78473 7.11611 2.63471 6.96608C2.48468 6.81605 2.40039 6.61256 2.40039 6.40039ZM2.40039 9.60039C2.40039 9.38822 2.48468 9.18473 2.63471 9.03471C2.78473 8.88468 2.98822 8.80039 3.20039 8.80039H12.8004C13.0126 8.80039 13.216 8.88468 13.3661 9.03471C13.5161 9.18473 13.6004 9.38822 13.6004 9.60039C13.6004 9.81256 13.5161 10.016 13.3661 10.1661C13.216 10.3161 13.0126 10.4004 12.8004 10.4004H3.20039C2.98822 10.4004 2.78473 10.3161 2.63471 10.1661C2.48468 10.016 2.40039 9.81256 2.40039 9.60039ZM2.40039 12.8004C2.40039 12.5882 2.48468 12.3847 2.63471 12.2347C2.78473 12.0847 2.98822 12.0004 3.20039 12.0004H12.8004C13.0126 12.0004 13.216 12.0847 13.3661 12.2347C13.5161 12.3847 13.6004 12.5882 13.6004 12.8004C13.6004 13.0126 13.5161 13.216 13.3661 13.3661C13.216 13.5161 13.0126 13.6004 12.8004 13.6004H3.20039C2.98822 13.6004 2.78473 13.5161 2.63471 13.3661C2.48468 13.216 2.40039 13.0126 2.40039 12.8004Z", fill: "#52525B"}
          .flex.gap-2.lg:pl-2
            .flex.flex-col.content-center.p-2.bg-white.rounded-md.hover:cursor-pointer{"data-action" => "click->sidebar#toggleFilterOptions"}
              %svg{xmlns: "http://www.w3.org/2000/svg", width: "16", height: "16", viewBox: "0 0 16 16", fill: "none"}
                %path{"fill-rule" => "evenodd", "clip-rule" => "evenodd", d: "M2.40039 2.39961C2.40039 2.18744 2.48468 1.98395 2.63471 1.83392C2.78473 1.68389 2.98822 1.59961 3.20039 1.59961H12.8004C13.0126 1.59961 13.216 1.68389 13.3661 1.83392C13.5161 1.98395 13.6004 2.18744 13.6004 2.39961V4.79961C13.6003 5.01177 13.516 5.21521 13.366 5.36521L9.60039 9.13081V11.9996C9.60035 12.2118 9.51603 12.4152 9.36599 12.5652L7.76599 14.1652C7.65411 14.2771 7.51158 14.3532 7.35642 14.3841C7.20125 14.4149 7.04043 14.3991 6.89427 14.3386C6.74811 14.278 6.62318 14.1755 6.53527 14.044C6.44736 13.9124 6.40042 13.7578 6.40039 13.5996V9.13081L2.63479 5.36521C2.48475 5.21521 2.40044 5.01177 2.40039 4.79961V2.39961Z", fill: "#52525B"}
    .flex.flex-col.items-start.self-stretch.gap-8
      = render 'dashboard/card_view', deals: @deals
      = render 'dashboard/table_view', deals: @deals
- else
  .container.mx-auto.p-4
    .flex.flex-col.gap-y-12{"data-controller" => "deals", "data-deals-selected-class" => "bg-gray-200", "data-deals-default-class" => "bg-white"}
      .flex.justify-between
        .flex.divide-x.divide-gray-200
          %h1.text-2xl.text-gray-700.font-serif.font-bold.leading-9.pr-4
            = image_tag('logo/levitas-black.svg') 
          %span.text-2xl.text-gray-700.font-serif.font-bold.leading-9.pl-4
            = t('.marketplace')
      .flex.flex-col.items-start.self-stretch.gap-8
        .grid.grid-cols-1.sm:grid-cols-2.lg:grid-cols-3.gap-3
          - @deals.each do |deal|
            = link_to marketplace_path(deal) do
              = render 'dashboard/card/card', deal: deal

- unless user_signed_in?
  = render "banner"